.body-content {
    height: calc(100vh - 14rem);
}

.tittle {
    font-family: 'Young Serif';
    /* font-weight: 400; */
    font-size: 1rem;
}

.pi.pi-ellipsis-v {
    font-weight: 700;

}

@keyframes expand {
    from {
        transform: translateX(-150%);
        /* width:0;
        margin-right: 0;
        padding: 0; */
    }

    to {
        transform: translateX(0);
        /* width: 15rem;
        margin-right: 1rem;
        padding: 1rem; */
    }
}

@keyframes collapse {
    from {
        transform: translateX(0);
        /* width: 15rem;
        margin-right: 1rem;
        padding: 1rem; */
    }

    to {
        transform: translateX(-150%);
        /* width:0;
        margin-right: 0;
        padding: 0; */

    }
}

@keyframes visibility {
    from {
       display: flex;
       
        /* margin-right: 1rem;
        padding: 1rem; */
    }

    to {
        display: none;
        /* margin-right: 0;
        padding: 0;  */
    }
    
}

.sidebar {
    width: 15rem;
    margin-right: 1rem;
    padding: 1rem;
    transform-origin: left;
    overflow: hidden;
}

.fadeout {
    animation: collapse 0.5s ease-out forwards, visibility 0.5s ease-out forwards;
    

}

.fadein {
    animation: expand 0.5s ease-in forwards;

}

.sidebar>.p-menu{
    border: none;
}